[submodule "jcanvas"]
	path = jcanvas
	url = https://github.com/caleb531/jcanvas.git
[submodule "jquery"]
	path = jquery
	url = https://github.com/jquery/jquery.git
[submodule ".idea"]
	path = .idea
	url = git@github.com:iceraj/starorf_html_idea.git
